*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.run.xml
*.pdf
*.toc
.DS_Store
vulgClem/
bak/
tex/auto/
tex/auto/*
tex/aux/
tex/aux/*
.latexmk
salmarc.xpr
smtrad-schema/
smtrad-schema/*
smed-schema/
smed-schema/*
  
/out/
/temp.xml
